html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
 
}

form {
  max-width: 30rem;
  min-width: 20rem;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px 0px #adadad;
  -moz-box-shadow: 5px 5px 20px 0px #adadad;
  box-shadow: 5px 5px 20px 0px #adadad;
  padding: 2.5em;
  margin:auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
}

.small-group{
  margin:4px;
}
h2 {
  text-align: center;
  font-size: 28px;
  padding: 0;
  margin-bottom: 20px;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}


label , li{
  display: inline-block
}
.box{
  margin-left: 4rem;
}
@media screen and (min-width: 700px) {
  .large-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .small-group {
    width: 150%;
  }
}
label {
  display: inline-block;
  margin-bottom: 5px;
}

.userInput, select {
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 0;
  background-color: #ededed;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textarea-div {
  width: 100%;
}

textarea {
  padding: 10px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 0;
  background-color: #ededed;
  font-size: 14px;
  height: 100px;
}

.btn {
  background-color: #0DFF82;
  padding: 12px 15px;
  margin: 0 , 0.5rem;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.3s all ease;
}
.btn:hover {
  background-color: #333333;
  color:#eee;
}

.reset{
  margin-top:0.5rem;
}
